<extend name="Common@HyFrame:frameset" />
<block name="style">
    <link href="__PUBLIC__/assets/theme/assets/admin/pages/css/profile-old.css" rel="stylesheet" type="text/css"/>
</block>
<block name="title">企业基本信息 <small>广州名航技术有限公司</small></block>
<block name="breadcrumb">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">企业基本信息</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">企业基本信息</a>
        </li>
    </ul>
</block>
<block name="toolbar"></block>
<block name="main">
    <div class="row profile">
                <div class="col-md-12">
                    <!--BEGIN TABS-->
                    <div class="tabbable-line tabbable-full-width">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_1_1" data-toggle="tab">
                                信息总览 </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-unstyled profile-nav">
                                            <li>
                                                <img src="__PUBLIC__/assets/theme/assets/admin/pages/media/profile/profile-img.png" class="img-responsive" alt=""/>
                                                <a href="javascript:;" class="profile-edit">
                                                营业执照2 </a>
                                            </li>
                                            <li>
                                                <img src="__PUBLIC__/assets/theme/assets/admin/pages/media/profile/profile-img.png" class="img-responsive" alt=""/>
                                                <a href="javascript:;" class="profile-edit">
                                                组织机构代码证 </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-8 profile-info">
                                                <h1>广州名航技术有限公司</h1>
                                                <p>
                                                     中国民航信息集团公司正式组建于2002年10月，属国资委管理的中央企业。中国民航信息网络股份有限公司是在2000年10月，由中国民航计算机信息中心联合当时所有国内航空公司发起成立，2001年2月在香港联交所主板挂牌上市交易，股票代码为0696.HK。2008年7月，中国民航信息集团公司以中国民航信息网络股份有限公司为主体，完成主营业务和资产重组并在香港成功整体上市。公司实收资本19.5亿元人民币，资产总额105亿元人民币。现有员工4300多人，总部设在北京。（公司名称以下简称中国航信）
                                                </p>
                                                <p>
                                                    <a href="javascript:;">
                                                    www.mywebsite.com </a>
                                                </p>
                                                <!-- <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-map-marker"></i> Spain
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-calendar"></i> 18 Jan 1982
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-briefcase"></i> Design
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-star"></i> Top Seller
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-heart"></i> BASE Jumping
                                                    </li>
                                                </ul> -->
                                            </div>
                                            <!--end col-md-8-->
                                            <div class="col-md-4">
                                                
                                            </div>
                                            <!--end col-md-4-->
                                        </div>
                                        <!--end row-->
                                        <div class="tabbable-line tabbable-custom-profile">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1_11" data-toggle="tab">
                                                    注册信息查看 </a>
                                                </li><!-- 
                                                <li>
                                                    <a href="#tab_1_22" data-toggle="tab">
                                                    Feeds </a>
                                                </li> -->
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1_11">
                                                    <div class="portlet-body">
                                                        <table class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                <i class="fa fa-briefcase"></i> 字段
                                                            </th>
                                                            <th class="hidden-xs">
                                                                <i class="fa fa-file-o"></i> 内容
                                                            </th>
                                                            <th>
                                                                <i class="fa fa-bookmark"></i> 修改时间
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                用户名 </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 广州名航
                                                            </td>
                                                            <td>
                                                                 2015-8-12
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                Smart House </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Office furniture purchase
                                                            </td>
                                                            <td>
                                                                 5760.00$ <span class="label label-warning label-sm">
                                                                Pending </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                FoodMaster Ltd </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Company Anual Dinner Catering
                                                            </td>
                                                            <td>
                                                                 12400.00$ <span class="label label-success label-sm">
                                                                Paid </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                WaterPure Ltd </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Payment for Jan 2013
                                                            </td>
                                                            <td>
                                                                 610.50$ <span class="label label-danger label-sm">
                                                                Overdue </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                Pixel Ltd </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Server hardware purchase
                                                            </td>
                                                            <td>
                                                                 52560.10$ <span class="label label-success label-sm">
                                                                Paid </span>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                Smart House </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Office furniture purchase
                                                            </td>
                                                            <td>
                                                                 5760.00$ <span class="label label-warning label-sm">
                                                                Pending </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href="javascript:;">
                                                                FoodMaster Ltd </a>
                                                            </td>
                                                            <td class="hidden-xs">
                                                                 Company Anual Dinner Catering
                                                            </td>
                                                            <td>
                                                                 12400.00$ <span class="label label-success label-sm">
                                                                Paid </span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <!--tab-pane-->
                                                <div class="tab-pane" id="tab_1_22">
                                                    <div class="tab-pane active" id="tab_1_1_1">
                                                        <div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--tab-pane-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--tab_1_2-->
                            
                            
                            <!--end tab-pane-->
                        </div>
                    </div>
                </div>
            </div>
</block>
<block name="bottom">
    <script>
        userProfile.init();

    </script>
</block>